{% extends "pages/page.html" %}

{% load mezzanine_tags shop_tags i18n static %}
{% block body_id %}products{% endblock %}


{% block main %}
<!-- <main id="FAQVue" v-cloak> -->
<main id="FAQVue">
  <!-- Call block super -->
  {{ block.super }}
  
  <!-- banner section -->
  <section class="min-h-300px lg:min-h-400px bg-cover bg-center bg-overlay-dark flex" style="background-image: var(--products-banner-bg);">
    <div class="text-white text-center text-3xl m-auto font-bold bg-black bg-opacity-25 px-5 py-4">IN SEASON</div>
  </section>
  <!-- banner section -->

  <!-- OFFERING HOME DELIVER! -->
  <div class="bg-green-1 text-white font-bold text-2xl text-center py-4">
    NOW OFFERING HOME DELIVER! SELECT HOME DELIVERY AT CHECKOUT.
  </div>
  <!-- OFFERING HOME DELIVER! -->

  <section class="container mx-auto my-12">
    <!-- PASTURE RAISED -->
    <article class="grid grid-cols-12 gap-4 mb-10">
      <div class="col-span-4">
        <header class="bg-givry text-xl text-brown-7 text-center py-3">PASTURE RAISED</header>
        <div class="bg-brown-0 p-3">
          <p class="mb-4 h-6">100% Grassfed Beef</p>
          <p class="mb-4 h-6">Pasture Raised Pork</p>
          <p class="mb-4 h-6">Grassfed Lamb</p>
          <p class="mb-4 h-6">Pasture Raised Roasting Chicken</p>
          <p class="mb-4 h-6">Pasture Raised Stewign Hens</p>
          <p class="mb-4 h-6">Pasture Raised Turkey</p>
          <p class="mb-4 h-6">Pasture Raised Eggs</p>
        </div>
      </div>
      
      <div class="col-span-2 text-center">
        <header class="bg-yellow-1 text-xl text-brown-7 py-3">SPRING</header>
        <div class="bg-yellow-1 bg-opacity-25 p-3">
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
        </div>
      </div>
  
      <div class="col-span-2 text-center">
        <header class="bg-orange-1 text-xl text-brown-7 py-3">SUMMER</header>
        <div class="bg-orange-1 bg-opacity-25 p-3">
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
        </div>
      </div>
  
      <div class="col-span-2 text-center">
        <header class="bg-petiteOrchid text-xl text-brown-7 py-3">FALL</header>
        <div class="bg-petiteOrchid bg-opacity-25 p-3">
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
        </div>
      </div>
  
      <div class="col-span-2 text-center">
        <header class="bg-rainee text-xl text-brown-7 py-3">WINTER</header>
        <div class="bg-rainee bg-opacity-25 p-3">
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
        </div>
      </div>

    </article>

    <!-- ORGANIC VEGETABLES -->

    <article class="grid grid-cols-12 gap-4 mb-10">
      <div class="col-span-4">
        <header class="bg-givry text-xl text-brown-7 text-center py-3">PASTURE RAISED</header>
        <div class="bg-brown-0 p-3">
          <p class="mb-4 h-6">Salad - Romain</p>
          <p class="mb-4 h-6">Salad - Spinach</p>
          <p class="mb-4 h-6">Salad - Radish Greens</p>
          <p class="mb-4 h-6">Salad - Baby Arugala</p>
          <p class="mb-4 h-6">Salad - Butterhead</p>
          <p class="mb-4 h-6">Zucchini</p>
          <p class="mb-4 h-6">Pumpkin</p>
          <p class="mb-4 h-6">Potatos - Yukon Gold</p>
          <p class="mb-4 h-6">Potatos - Red Gold</p>
          <p class="mb-4 h-6">Sweet Onions</p>
          <p class="mb-4 h-6">Garlic</p>
        </div>
      </div>
      
      <div class="col-span-2 text-center">
        <header class="bg-yellow-1 text-xl text-brown-7 py-3">SPRING</header>
        <div class="bg-yellow-1 bg-opacity-25 p-3">
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
        </div>
      </div>
  
      <div class="col-span-2 text-center">
        <header class="bg-orange-1 text-xl text-brown-7 py-3">SUMMER</header>
        <div class="bg-orange-1 bg-opacity-25 p-3">
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
        </div>
      </div>
  
      <div class="col-span-2 text-center">
        <header class="bg-petiteOrchid text-xl text-brown-7 py-3">FALL</header>
        <div class="bg-petiteOrchid bg-opacity-25 p-3">
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
        </div>
      </div>
  
      <div class="col-span-2 text-center">
        <header class="bg-rainee text-xl text-brown-7 py-3">WINTER</header>
        <div class="bg-rainee bg-opacity-25 p-3">
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
          <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
        </div>
      </div>

    </article>



  </section>

  
</main>
{% endblock main %}
