a.btn {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
}

.btn {
  @apply text-white text-center text-2xl font-bold py-2 px-4 rounded-md shadow-xl;
  background-color: theme('colors.orange.3');
}

.btn:hover {
  background-color: #d95320;
}

.btn-sm {
  @apply text-lg self-center w-auto;
  padding: 15px 20px;
  max-height: 57px;
}

.btn-light-orange {
  background-color: theme('colors.orange.2');
}

.btn-light-orange:hover {
  background-color: theme('colors.orange.1'); /* TODO */
}

.btn-green {
  background-color: theme('colors.green.1');
}

.btn-green:hover {
  background-color: theme('colors.green.2'); /* TODO */
}


/* @Joe start here */

/* primary button */
.btn-primary {
  @apply text-white bg-orange-3 hover:bg-orange-2 focus:outline-none;
  @apply shadow rounded font-bold text-lg py-3 px-6 transition duration-300 ease-in-out;
}

/* white button */
.btn-white {
  @apply bg-gray-50 text-orange-3 hover:bg-gray-100 focus:outline-none;
  @apply shadow rounded font-bold text-lg py-3 px-6 transition duration-300 ease-in-out;
}

/* secondary button */
.btn-outline-secondary {
  @apply text-brown-7 border border-brown-7 tracking-wide hover:border-brown-7 hover:bg-brown-7 hover:text-white;
  @apply rounded text-lg px-6 py-5 transition duration-300 ease-in-out;
}

/* todo - enhance below */
/* add to card button */
.btn-add-to-card {
  @apply px-6 py-3 font-light text-brown-7 text-lg;
  background-color: theme('colors.brown.0'); /* TODO */
}

.btn-add-to-card:hover {
  @apply underline;
}