{% extends "base.html" %}

{% load shop_tags i18n static %}
{% block body_id %}Contact Us{% endblock %}

{% block meta_title %}Contact Us{% endblock %}

{% block css %}
<style>
  input:checked+label {
    border-color: #e16231;
    color: #e16231;
  }
</style>
{% endblock %}

{% block main %}
<main id="contactUs" style="background-color: #fafafa;" v-cloak>
  <!-- Call block super -->
  {{ block.super }}

  <section class="bg-orange-extralightests max-w-3xl mx-auto p-5 mb-20 pt-20 hidden">

    <div class="grid grid-cols-12 gap-10 text-center text-sm items-center hidden">
      <a href="https://www.google.com/maps/place/25362+High+Pass+Rd,+Junction+City,+OR+97448,+USA/@44.2196354,-123.3481561,17z/data=!3m1!4b1!4m5!3m4!1s0x54c1007cd9f7eb3f:0x6094b5f30ebbb486!8m2!3d44.2196354!4d-123.3459621"
        target="_blank"
        class="bg-white bg-opacity-80 col-span-12 md:col-span-4 p-3 hover:bg-orange-lightest focus:outline-none transition duration-300 ease-in-out rounded shadow h-full">
        <i class="text-gray-700 fas fa-map-marker text-2xl block mb-3"></i>
        <p>
          25362 High Pass Rd
          Junction City, OR 97448
        </p>
      </a>

      <a href="tel:+1541-998-4697"
        class="bg-white bg-opacity-80 col-span-12 md:col-span-4 p-3 hover:bg-orange-lightest focus:outline-none transition duration-300 ease-in-out rounded shadow h-full">
        <i class="text-gray-700 fas fa-phone-alt text-2xl block mb-3"></i>
        <p>541-998-4697</p>
      </a>

      <a href="mailto:info@deckfamilyfarm.com"
        class="bg-white bg-opacity-80 col-span-12 md:col-span-4 p-3 hover:bg-orange-lightest focus:outline-none transition duration-300 ease-in-out rounded shadow h-full">
        <i class="text-gray-700 fas fa-envelope text-2xl block mb-3"></i>
        <p>info@deckfamilyfarm.com</p>
      </a>
    </div>

  </section>

  <v-app class="mt-4" style="background-color: #fafafa;">
    <v-main>
      <v-container class="mx-auto my-10" style="max-width: 70rem;">

        <v-row>
          <v-col lg="7">
            <h3 class="text-4xl font-bold mb-16 text-primary">Get in touch</h3>

            <!-- Farm Inquiries -->
            <h3 class="mb-3">Farm Inquiries</h3>

            <a href="tel:+1541-998-4697" class="text-base">
              <v-icon small color="primary" class="mr-4">mdi-phone</v-icon>
              541-998-4697
            </a>
            <br>
            <a href="mailto:info@deckfamilyfarm.com" class="text-base">
              <v-icon small color="primary" class="mr-4">mdi-at</v-icon>
              info@deckfamilyfarm.com
            </a>

            <!-- CSA Inquiries -->
            <h3 class="mt-10">CSA Inquiries</h3>

            <a href="tel:+1541-321-0925" class="text-base">
              <v-icon small color="primary" class="mr-4">mdi-phone</v-icon>
              541-321-0925
            </a>
            <br>
            <a href="mailto:fullfarmcsa@deckfamilyfarm.com" class="text-base">
              <v-icon small color="primary" class="mr-4">mdi-at</v-icon>
              fullfarmcsa@deckfamilyfarm.com
            </a>

            <!-- Address -->
            <h3 class="mt-10">Address</h3>
            <a href="https://www.google.com/maps/place/25362+High+Pass+Rd,+Junction+City,+OR+97448,+USA/@44.2196354,-123.3481561,17z/data=!3m1!4b1!4m5!3m4!1s0x54c1007cd9f7eb3f:0x6094b5f30ebbb486!8m2!3d44.2196354!4d-123.3459621"
              target="_blank" class="text-base">
              <v-icon small color="primary" class="mr-4">mdi-map-marker</v-icon>
              25362 High Pass Rd, Junction City, OR 97448
            </a>

          </v-col>

          <v-col lg="5">
            <v-card class="pa-5 mt-10">
              <h3 class="text-base text-center font-bold text-gray-600 col-span-12 mb-6">Send us a message</h3>

              <v-form ref="form" @submit.prevent="submit">
                <v-select solo label="Target" v-model="target" :items="targets" item-text="text" item-value="value"
                  :return-object="false" :rules="[store.state.rules.required]"></v-select>
                <v-text-field solo label="Your name" v-model="name" :rules="[store.state.rules.required]">
                </v-text-field>
                <v-text-field solo label="Email" v-model="email" type="email"
                  :rules="[store.state.rules.required, store.state.rules.email]"></v-text-field>
                <v-text-field solo label="Phone" v-model="phone"></v-text-field>
                <v-textarea solo label="Message" rows="5" v-model="message" :rules="[store.state.rules.required]"
                  no-resize></v-textarea>
                <div class="text-center mt-2">
                  <v-btn color="primary" class="font-weight-bold" type="submit" :loading="loading" :disable="loading">
                    Send message</v-btn>
                </div>
              </v-form>

            </v-card>
          </v-col>

        </v-row>

      </v-container>


      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3775.2938288349137!2d-123.34906273554886!3d44.21954311040262!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54c1007cd9f7eb3f%3A0x9981e40e5724792f!2sDeck%20Family%20Farm!5e1!3m2!1sen!2sru!4v1637970291931!5m2!1sen!2sru" width="100%" height="800" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

    </v-main>
  </v-app>

</main>
{% endblock main %}

{% block js %}
<script>
  const ContactUsVue = new Vue({
    el: '#contactUs',
    delimiters: ['((', '))'],
    vuetify: new Vuetify(opts),
    data: {
      loading: false,

      target: { key: 'farm', text: 'General Farm Inquiry' },
      name: '',
      email: '',
      phone: '',
      message: '',
      targets: [
        { key: 'farm', text: 'General Farm Inquiry' },
        { key: 'csa', text: 'CSA Inquiry' }
      ]
    },
    methods: {
      async submit() {
        if (!this.$refs.form.validate()) {
          return
        }

        this.loading = true;

        try {
          const res = await axios.post(`/api/contactus/`, {
            target: this.target.key,
            name: this.name,
            email: this.email,
            phone: this.phone,
            message: this.message,
          });
          this.loading = false
          console.log(res)
        } catch (error) {
          this.loading = false
          console.log(error)
        }


      }
    },
  })
</script>
{% endblock %}
