{% extends "pages/page.html" %}

{% load mezzanine_tags shop_tags i18n static %}
{% block body_id %}Contact Us{% endblock %}


{% block css %}
<style>
  .contactUsBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120vh;
    z-index: -100;

    /* background-image: var(--products-aboutus-bg); */
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), var(--products-aboutus-bg);
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    filter: blur(7px);
  }


  input:checked + label {
    border-color: #e16231;
    color: #e16231;
  }
</style>
{% endblock %}


{% block main %}
<!-- background -->
<div class="contactUsBackground"></div>

<main id="contactUs">
  <!-- Call block super -->
  {{ block.super }}

  <section class="bg-orange-extralightests max-w-3xl mx-auto mt-16 p-5 mb-20">
    <h3 class="text-4xl font-bold mb-16 text-white text-center">Get in touch</h3>

    <div class="grid grid-cols-12 gap-10 text-center text-sm items-center">
      <a 
        href="https://www.google.com/maps/place/25362+High+Pass+Rd,+Junction+City,+OR+97448,+USA/@44.2196354,-123.3481561,17z/data=!3m1!4b1!4m5!3m4!1s0x54c1007cd9f7eb3f:0x6094b5f30ebbb486!8m2!3d44.2196354!4d-123.3459621" target="_blank"
        class="bg-white bg-opacity-80 col-span-12 md:col-span-4 p-3 hover:bg-orange-lightest focus:outline-none transition duration-300 ease-in-out rounded shadow h-full">
        <i class="text-gray-700 fas fa-map-marker text-2xl block mb-3"></i>
        <p>
          25362 High Pass Rd
          Junction City, OR 97448
        </p>
      </a>

      <a 
        href="tel:+1541-998-4697"
        class="bg-white bg-opacity-80 col-span-12 md:col-span-4 p-3 hover:bg-orange-lightest focus:outline-none transition duration-300 ease-in-out rounded shadow h-full">
        <i class="text-gray-700 fas fa-phone-alt text-2xl block mb-3"></i>
        <p>541-998-4697</p>
      </a>
      
      <a 
        href="mailto:info@deckfamilyfarm.com"
        class="bg-white bg-opacity-80 col-span-12 md:col-span-4 p-3 hover:bg-orange-lightest focus:outline-none transition duration-300 ease-in-out rounded shadow h-full">
        <i class="text-gray-700 fas fa-envelope text-2xl block mb-3"></i>
        <p>info@deckfamilyfarm.com</p>
      </a>
    </div>


    <div class="bg-white bg-opacity-80 rounded shadow mt-5 p-5">
      <form id="contactUsFrom" class="grid grid-cols-12 gap-4">
      <!-- <form class="shadow"> -->
        <p class="text-base font-bold text-gray-700 col-span-12">Send us a message</p>

        <div class="col-span-12 md:col-span-6">
          <div class="grid grid-cols-12 gap-4">
            <!-- Name -->
            <div class="col-span-12">
              <label for="name" class="text-gray-700 px-1">Your name</label>
              <input type="text" name="name" id="name" class="input-v">
            </div>
            
            <!-- email -->
            <div class="col-span-12">
              <label for="email" class="text-gray-700 px-1">Email</label>
              <input type="email" name="email" id="email" class="input-v">
            </div>
      
            <!-- email -->
            <div class="col-span-12">
              <label for="phone" class="text-gray-700 px-1">Phone</label>
              <input type="text" name="phone" id="phone" class="input-v">
            </div>
          </div>
        </div>
  
        <!-- message -->
        <div class="col-span-12 md:col-span-6">
          <label for="message" class="text-gray-700 px-1">Message</label>
          <textarea name="message" id="message" class="input-v" rows="8" style="resize: none; max-height: 80%;"></textarea>
        </div>

        <!-- Reason -->
        <div class="col-span-12 select-none -mt-4">
          <p class="text-gray-700">Reason</p>

          <div class="grid grid-cols-12 gap-4 text-center text-base">
            <div class="col-span-12 md:col-span-4">
              <input class="hidden" id="inquiry" type="radio" name="reason">
              <label
                class="border-2 border-white text-gray-600 bg-white cursor-pointer block w-ful rounded p-2 hover:text-orange"
                for="inquiry">Inquiry</label>
            </div>
  
            <div class="col-span-12 md:col-span-4">
              <input class="hidden" id="complain" type="radio" name="reason">
              <label 
                class="border-2 border-white text-gray-600 bg-white cursor-pointer block w-ful rounded p-2 hover:text-orange"
                for="complain">Complain</label>
            </div>

            <div class="col-span-12 md:col-span-4">
              <input class="hidden" id="report" type="radio" name="reason">
              <label 
                class="border-2 border-white text-gray-600 bg-white cursor-pointer block w-ful rounded p-2 hover:text-orange"
                for="report">Report an issue</label>
            </div>
          </div>
        </div>

      </form>

      <div class="text-center mt-10">
        <button class="btn btn-primary">Send message</button>
      </div>

    </div>


  </section>
  
</main>
{% endblock main %}
