{% extends "pages/page.html" %}

{% load mezzanine_tags shop_tags i18n static %}
{% block body_id %}FAQ{% endblock %}


{% block main %}
<main id="FAQVue">
  <!-- Call block super -->
  {{ block.super }}
  
  <!-- banner section -->
  <section class="min-h-300px lg:min-h-400px bg-cover bg-center bg-overlay-dark flex" style="background-image: var(--products-banner-bg);">
    <div class="text-white text-center text-3xl m-auto font-bold bg-black bg-opacity-25 px-5 py-4">FREQUENTLY ASKED QUESTIONS - Testing</div>
  </section>
  <!-- banner section -->

  <!-- FAQ section -->
  <section class="container mx-auto mt-5 text-brown-7 my-4">

    <!-- ABOUT THE FARM(S) -->
    <div class="bg-brown-1 text-lg p-3 my-2">ABOUT THE FARM(S)</div>
    <article class="bg-brown-0 p-3 mb-2">
      <h3 class="cursor-pointer select-none flex" onclick="handleevent(this.parentElement)">
        Can I come out and visit the farm?
        <i class="fas fa-plus ml-auto text-xs p-1"></i>
        <i class="fas fa-times ml-auto text-xs text-red-2 p-1 hidden"></i>
      </h3>

      <p id="content" class="mt-4 hidden">
        You’re welcome to enjoy a self-guided walk around the farm with your family and friends Monday-Friday during business hours 9am-3pm. If you’d like to purchase some of our scrumptious pasture raised meats or eggs, please create a pre-or- der through our website before you visit. Guided tours, Interviews, and large groups (6+ people) are by appointment only! Email us at info@deckfamilyfarm.com to place your request.
      </p>
    </article>

    <article class="bg-brown-0 p-3 mb-2">
      <h3 class="cursor-pointer select-none flex" onclick="handleevent(this.parentElement)">
        How do I purchase a side?
        <i class="fas fa-plus ml-auto text-xs p-1"></i>
        <i class="fas fa-times ml-auto text-xs text-red-2 p-1 hidden"></i>
      </h3>

      <p id="content" class="mt-4 hidden">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odio, esse laboriosam ad itaque placeat similique debitis voluptatum fugiat dolor ex saepe harum iusto, eum repellat nihil nemo quaerat iure?
      </p>
    </article>

    <article class="bg-brown-0 p-3 mb-2">
      <h3 class="cursor-pointer select-none flex" onclick="handleevent(this.parentElement)">
        Are you certified organic?
        <i class="fas fa-plus ml-auto text-xs p-1"></i>
        <i class="fas fa-times ml-auto text-xs text-red-2 p-1 hidden"></i>
      </h3>

      <p id="content" class="mt-4 hidden">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odio, esse laboriosam ad itaque placeat similique debitis voluptatum fugiat dolor ex saepe harum iusto, eum repellat nihil nemo quaerat iure?
      </p>
    </article>

    <article class="bg-brown-0 p-3 mb-2">
      <h3 class="cursor-pointer select-none flex" onclick="handleevent(this.parentElement)">
        How long have you been operating?
        <i class="fas fa-plus ml-auto text-xs p-1"></i>
        <i class="fas fa-times ml-auto text-xs text-red-2 p-1 hidden"></i>
      </h3>

      <p id="content" class="mt-4 hidden">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odio, esse laboriosam ad itaque placeat similique debitis voluptatum fugiat dolor ex saepe harum iusto, eum repellat nihil nemo quaerat iure?
      </p>
    </article>

    <article class="bg-brown-0 p-3 mb-2">
      <h3 class="cursor-pointer select-none flex" onclick="handleevent(this.parentElement)">
        Do you sell more than Meat and Eggs?
        <i class="fas fa-plus ml-auto text-xs p-1"></i>
        <i class="fas fa-times ml-auto text-xs text-red-2 p-1 hidden"></i>
      </h3>

      <p id="content" class="mt-4 hidden">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odio, esse laboriosam ad itaque placeat similique debitis voluptatum fugiat dolor ex saepe harum iusto, eum repellat nihil nemo quaerat iure?
      </p>
    </article>

    <article class="bg-brown-0 p-3 mb-2">
      <h3 class="cursor-pointer select-none flex" onclick="handleevent(this.parentElement)">
        Can I buy milk?
        <i class="fas fa-plus ml-auto text-xs p-1"></i>
        <i class="fas fa-times ml-auto text-xs text-red-2 p-1 hidden"></i>
      </h3>

      <p id="content" class="mt-4 hidden">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odio, esse laboriosam ad itaque placeat similique debitis voluptatum fugiat dolor ex saepe harum iusto, eum repellat nihil nemo quaerat iure?
      </p>
    </article>

    <article class="bg-brown-0 p-3 mb-2">
      <h3 class="cursor-pointer select-none flex" onclick="handleevent(this.parentElement)">
        How are the animals treated?
        <i class="fas fa-plus ml-auto text-xs p-1"></i>
        <i class="fas fa-times ml-auto text-xs text-red-2 p-1 hidden"></i>
      </h3>

      <p id="content" class="mt-4 hidden">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odio, esse laboriosam ad itaque placeat similique debitis voluptatum fugiat dolor ex saepe harum iusto, eum repellat nihil nemo quaerat iure?
      </p>
    </article>

    <!-- ABOUT HARVEST CRATE (Deck Family Farm CSA) -->
    <div class="bg-yellow-lightest text-lg p-3 my-2">ABOUT HARVEST CRATE (Deck Family Farm CSA)</div>
    <article class="bg-brown-0 p-3 mb-2">
      <h3 class="cursor-pointer select-none flex" onclick="handleevent(this.parentElement)">
        What is Full Farm CSA and why join?
        <i class="fas fa-plus ml-auto text-xs p-1"></i>
        <i class="fas fa-times ml-auto text-xs text-red-2 p-1 hidden"></i>
      </h3>

      <p id="content" class="mt-4 hidden">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odio, esse laboriosam ad itaque placeat similique debitis voluptatum fugiat dolor ex saepe harum iusto, eum repellat nihil nemo quaerat iure?
      </p>
    </article>

    <article class="bg-brown-0 p-3 mb-2">
      <h3 class="cursor-pointer select-none flex" onclick="handleevent(this.parentElement)">
        What are my product options?
        <i class="fas fa-plus ml-auto text-xs p-1"></i>
        <i class="fas fa-times ml-auto text-xs text-red-2 p-1 hidden"></i>
      </h3>

      <p id="content" class="mt-4 hidden">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odio, esse laboriosam ad itaque placeat similique debitis voluptatum fugiat dolor ex saepe harum iusto, eum repellat nihil nemo quaerat iure?
      </p>
    </article>

    <article class="bg-brown-0 p-3 mb-2">
      <h3 class="cursor-pointer select-none flex" onclick="handleevent(this.parentElement)">
        Do you offer home deliver?
        <i class="fas fa-plus ml-auto text-xs p-1"></i>
        <i class="fas fa-times ml-auto text-xs text-red-2 p-1 hidden"></i>
      </h3>

      <p id="content" class="mt-4 hidden">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odio, esse laboriosam ad itaque placeat similique debitis voluptatum fugiat dolor ex saepe harum iusto, eum repellat nihil nemo quaerat iure?
      </p>
    </article>

    <article class="bg-brown-0 p-3 mb-2">
      <h3 class="cursor-pointer select-none flex" onclick="handleevent(this.parentElement)">
        How do I sign up and pay?
        <i class="fas fa-plus ml-auto text-xs p-1"></i>
        <i class="fas fa-times ml-auto text-xs text-red-2 p-1 hidden"></i>
      </h3>

      <p id="content" class="mt-4 hidden">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odio, esse laboriosam ad itaque placeat similique debitis voluptatum fugiat dolor ex saepe harum iusto, eum repellat nihil nemo quaerat iure?
      </p>
    </article>

    <article class="bg-brown-0 p-3 mb-2">
      <h3 class="cursor-pointer select-none flex" onclick="handleevent(this.parentElement)">
        How do I make my weekly order?
        <i class="fas fa-plus ml-auto text-xs p-1"></i>
        <i class="fas fa-times ml-auto text-xs text-red-2 p-1 hidden"></i>
      </h3>

      <p id="content" class="mt-4 hidden">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odio, esse laboriosam ad itaque placeat similique debitis voluptatum fugiat dolor ex saepe harum iusto, eum repellat nihil nemo quaerat iure?
      </p>
    </article>

    <article class="bg-brown-0 p-3 mb-2">
      <h3 class="cursor-pointer select-none flex" onclick="handleevent(this.parentElement)">
        How do I pick up my weekly order?
        <i class="fas fa-plus ml-auto text-xs p-1"></i>
        <i class="fas fa-times ml-auto text-xs text-red-2 p-1 hidden"></i>
      </h3>

      <p id="content" class="mt-4 hidden">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odio, esse laboriosam ad itaque placeat similique debitis voluptatum fugiat dolor ex saepe harum iusto, eum repellat nihil nemo quaerat iure?
      </p>
    </article>

    <article class="bg-brown-0 p-3 mb-2">
      <h3 class="cursor-pointer select-none flex" onclick="handleevent(this.parentElement)">
        What are the benefits of picking up at the farm?
        <i class="fas fa-plus ml-auto text-xs p-1"></i>
        <i class="fas fa-times ml-auto text-xs text-red-2 p-1 hidden"></i>
      </h3>

      <p id="content" class="mt-4 hidden">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odio, esse laboriosam ad itaque placeat similique debitis voluptatum fugiat dolor ex saepe harum iusto, eum repellat nihil nemo quaerat iure?
      </p>
    </article>

    <article class="bg-brown-0 p-3 mb-2">
      <h3 class="cursor-pointer select-none flex" onclick="handleevent(this.parentElement)">
        What about jar and bag refunds?
        <i class="fas fa-plus ml-auto text-xs p-1"></i>
        <i class="fas fa-times ml-auto text-xs text-red-2 p-1 hidden"></i>
      </h3>

      <p id="content" class="mt-4 hidden">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odio, esse laboriosam ad itaque placeat similique debitis voluptatum fugiat dolor ex saepe harum iusto, eum repellat nihil nemo quaerat iure?
      </p>
    </article>

    <article class="bg-brown-0 p-3 mb-2">
      <h3 class="cursor-pointer select-none flex" onclick="handleevent(this.parentElement)">
        How much is Full Farm CSA?
        <i class="fas fa-plus ml-auto text-xs p-1"></i>
        <i class="fas fa-times ml-auto text-xs text-red-2 p-1 hidden"></i>
      </h3>

      <p id="content" class="mt-4 hidden">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odio, esse laboriosam ad itaque placeat similique debitis voluptatum fugiat dolor ex saepe harum iusto, eum repellat nihil nemo quaerat iure?
      </p>
    </article>

    <article class="bg-brown-0 p-3 mb-2">
      <h3 class="cursor-pointer select-none flex" onclick="handleevent(this.parentElement)">
        Can I pause my account, while I go on Vacation?
        <i class="fas fa-plus ml-auto text-xs p-1"></i>
        <i class="fas fa-times ml-auto text-xs text-red-2 p-1 hidden"></i>
      </h3>

      <p id="content" class="mt-4 hidden">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odio, esse laboriosam ad itaque placeat similique debitis voluptatum fugiat dolor ex saepe harum iusto, eum repellat nihil nemo quaerat iure?
      </p>
    </article>

    <!-- FULL DIET CHALLENGE -->
    <div class="bg-orange-lighter text-lg p-3 my-2">FULL DIET CHALLENGE</div>
    <article class="bg-brown-0 p-3 mb-2">
      <h3 class="cursor-pointer select-none flex" onclick="handleevent(this.parentElement)">
        What is the Full Diet Challenge?
        <i class="fas fa-plus ml-auto text-xs p-1"></i>
        <i class="fas fa-times ml-auto text-xs text-red-2 p-1 hidden"></i>
      </h3>

      <p id="content" class="mt-4 hidden">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odio, esse laboriosam ad itaque placeat similique debitis voluptatum fugiat dolor ex saepe harum iusto, eum repellat nihil nemo quaerat iure?
      </p>
    </article>
    
    <article class="bg-brown-0 p-3 mb-2">
      <h3 class="cursor-pointer select-none flex" onclick="handleevent(this.parentElement)">
        What are the benefits of eating Full Diet from the farm?
        <i class="fas fa-plus ml-auto text-xs p-1"></i>
        <i class="fas fa-times ml-auto text-xs text-red-2 p-1 hidden"></i>
      </h3>

      <p id="content" class="mt-4 hidden">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odio, esse laboriosam ad itaque placeat similique debitis voluptatum fugiat dolor ex saepe harum iusto, eum repellat nihil nemo quaerat iure?
      </p>
    </article>

    <article class="bg-brown-0 p-3 mb-2">
      <h3 class="cursor-pointer select-none flex" onclick="handleevent(this.parentElement)">
        What is the average cost for one adult?
        <i class="fas fa-plus ml-auto text-xs p-1"></i>
        <i class="fas fa-times ml-auto text-xs text-red-2 p-1 hidden"></i>
      </h3>

      <p id="content" class="mt-4 hidden">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odio, esse laboriosam ad itaque placeat similique debitis voluptatum fugiat dolor ex saepe harum iusto, eum repellat nihil nemo quaerat iure?
      </p>
    </article>

    <article class="bg-brown-0 p-3 mb-2">
      <h3 class="cursor-pointer select-none flex" onclick="handleevent(this.parentElement)">
        How long does the Full Diet Challenge last?
        <i class="fas fa-plus ml-auto text-xs p-1"></i>
        <i class="fas fa-times ml-auto text-xs text-red-2 p-1 hidden"></i>
      </h3>

      <p id="content" class="mt-4 hidden">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odio, esse laboriosam ad itaque placeat similique debitis voluptatum fugiat dolor ex saepe harum iusto, eum repellat nihil nemo quaerat iure?
      </p>
    </article>

    <!-- SUSTAINABILITY -->
    <div class="bg-petiteOrchid text-lg p-3 my-2">SUSTAINABILITY</div>
    <article class="bg-brown-0 p-3 mb-2">
      <h3 class="cursor-pointer select-none flex" onclick="handleevent(this.parentElement)">
        Questions about chemicals and additives?
        <i class="fas fa-plus ml-auto text-xs p-1"></i>
        <i class="fas fa-times ml-auto text-xs text-red-2 p-1 hidden"></i>
      </h3>

      <p id="content" class="mt-4 hidden">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odio, esse laboriosam ad itaque placeat similique debitis voluptatum fugiat dolor ex saepe harum iusto, eum repellat nihil nemo quaerat iure?
      </p>
    </article>
    
    <article class="bg-brown-0 p-3 mb-2">
      <h3 class="cursor-pointer select-none flex" onclick="handleevent(this.parentElement)">
        Questions about land management?
        <i class="fas fa-plus ml-auto text-xs p-1"></i>
        <i class="fas fa-times ml-auto text-xs text-red-2 p-1 hidden"></i>
      </h3>

      <p id="content" class="mt-4 hidden">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odio, esse laboriosam ad itaque placeat similique debitis voluptatum fugiat dolor ex saepe harum iusto, eum repellat nihil nemo quaerat iure?
      </p>
    </article>
    
    <article class="bg-brown-0 p-3 mb-2">
      <h3 class="cursor-pointer select-none flex" onclick="handleevent(this.parentElement)">
        What is pasture-based farming?
        <i class="fas fa-plus ml-auto text-xs p-1"></i>
        <i class="fas fa-times ml-auto text-xs text-red-2 p-1 hidden"></i>
      </h3>

      <p id="content" class="mt-4 hidden">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odio, esse laboriosam ad itaque placeat similique debitis voluptatum fugiat dolor ex saepe harum iusto, eum repellat nihil nemo quaerat iure?
      </p>
    </article>
    
    <article class="bg-brown-0 p-3 mb-2">
      <h3 class="cursor-pointer select-none flex" onclick="handleevent(this.parentElement)">
        What is regenerative farming?
        <i class="fas fa-plus ml-auto text-xs p-1"></i>
        <i class="fas fa-times ml-auto text-xs text-red-2 p-1 hidden"></i>
      </h3>

      <p id="content" class="mt-4 hidden">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odio, esse laboriosam ad itaque placeat similique debitis voluptatum fugiat dolor ex saepe harum iusto, eum repellat nihil nemo quaerat iure?
      </p>
    </article>
    
    <article class="bg-brown-0 p-3 mb-2">
      <h3 class="cursor-pointer select-none flex" onclick="handleevent(this.parentElement)">
        What is management intensive grazing?
        <i class="fas fa-plus ml-auto text-xs p-1"></i>
        <i class="fas fa-times ml-auto text-xs text-red-2 p-1 hidden"></i>
      </h3>

      <p id="content" class="mt-4 hidden">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odio, esse laboriosam ad itaque placeat similique debitis voluptatum fugiat dolor ex saepe harum iusto, eum repellat nihil nemo quaerat iure?
      </p>
    </article>
    
    <article class="bg-brown-0 p-3 mb-2">
      <h3 class="cursor-pointer select-none flex" onclick="handleevent(this.parentElement)">
        Questions number six goes here?
        <i class="fas fa-plus ml-auto text-xs p-1"></i>
        <i class="fas fa-times ml-auto text-xs text-red-2 p-1 hidden"></i>
      </h3>

      <p id="content" class="mt-4 hidden">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odio, esse laboriosam ad itaque placeat similique debitis voluptatum fugiat dolor ex saepe harum iusto, eum repellat nihil nemo quaerat iure?
      </p>
    </article>

    <!-- DELIVERY AND PICKUP -->
    <div class="bg-lighter bg-opacity-75 text-lg p-3 my-2">DELIVERY AND PICKUP</div>
    <article class="bg-brown-0 p-3 mb-2">
      <h3 class="cursor-pointer select-none flex" onclick="handleevent(this.parentElement)">
        Where can I pick up my order?
        <i class="fas fa-plus ml-auto text-xs p-1"></i>
        <i class="fas fa-times ml-auto text-xs text-red-2 p-1 hidden"></i>
      </h3>

      <p id="content" class="mt-4 hidden">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odio, esse laboriosam ad itaque placeat similique debitis voluptatum fugiat dolor ex saepe harum iusto, eum repellat nihil nemo quaerat iure?
      </p>
    </article>
    
    <article class="bg-brown-0 p-3 mb-2">
      <h3 class="cursor-pointer select-none flex" onclick="handleevent(this.parentElement)">
        Do you offer home delivery?
        <i class="fas fa-plus ml-auto text-xs p-1"></i>
        <i class="fas fa-times ml-auto text-xs text-red-2 p-1 hidden"></i>
      </h3>

      <p id="content" class="mt-4 hidden">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odio, esse laboriosam ad itaque placeat similique debitis voluptatum fugiat dolor ex saepe harum iusto, eum repellat nihil nemo quaerat iure?
      </p>
    </article>

    <article class="bg-brown-0 p-3 mb-2">
      <h3 class="cursor-pointer select-none flex" onclick="handleevent(this.parentElement)">
        What are the benefits of picking up at the farm?
        <i class="fas fa-plus ml-auto text-xs p-1"></i>
        <i class="fas fa-times ml-auto text-xs text-red-2 p-1 hidden"></i>
      </h3>

      <p id="content" class="mt-4 hidden">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odio, esse laboriosam ad itaque placeat similique debitis voluptatum fugiat dolor ex saepe harum iusto, eum repellat nihil nemo quaerat iure?
      </p>
    </article>

    <!-- INTERNSHIP PROGRAM -->
    <div class="bg-orange-lighter text-lg p-3 my-2">INTERNSHIP PROGRAM</div>
    <article class="bg-brown-0 p-3 mb-2">
      <h3 class="cursor-pointer select-none flex" onclick="handleevent(this.parentElement)">
        How do I apply for an internship?
        <i class="fas fa-plus ml-auto text-xs p-1"></i>
        <i class="fas fa-times ml-auto text-xs text-red-2 p-1 hidden"></i>
      </h3>

      <p id="content" class="mt-4 hidden">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odio, esse laboriosam ad itaque placeat similique debitis voluptatum fugiat dolor ex saepe harum iusto, eum repellat nihil nemo quaerat iure?
      </p>
    </article>

    <article class="bg-brown-0 p-3 mb-2">
      <h3 class="cursor-pointer select-none flex" onclick="handleevent(this.parentElement)">
        How long does an internship last?
        <i class="fas fa-plus ml-auto text-xs p-1"></i>
        <i class="fas fa-times ml-auto text-xs text-red-2 p-1 hidden"></i>
      </h3>

      <p id="content" class="mt-4 hidden">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odio, esse laboriosam ad itaque placeat similique debitis voluptatum fugiat dolor ex saepe harum iusto, eum repellat nihil nemo quaerat iure?
      </p>
    </article>

    <article class="bg-brown-0 p-3 mb-2">
      <h3 class="cursor-pointer select-none flex" onclick="handleevent(this.parentElement)">
        Who already lives on the farm?
        <i class="fas fa-plus ml-auto text-xs p-1"></i>
        <i class="fas fa-times ml-auto text-xs text-red-2 p-1 hidden"></i>
      </h3>

      <p id="content" class="mt-4 hidden">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odio, esse laboriosam ad itaque placeat similique debitis voluptatum fugiat dolor ex saepe harum iusto, eum repellat nihil nemo quaerat iure?
      </p>
    </article>

    <article class="bg-brown-0 p-3 mb-2">
      <h3 class="cursor-pointer select-none flex" onclick="handleevent(this.parentElement)">
        Do I have to live on the farm?
        <i class="fas fa-plus ml-auto text-xs p-1"></i>
        <i class="fas fa-times ml-auto text-xs text-red-2 p-1 hidden"></i>
      </h3>

      <p id="content" class="mt-4 hidden">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odio, esse laboriosam ad itaque placeat similique debitis voluptatum fugiat dolor ex saepe harum iusto, eum repellat nihil nemo quaerat iure?
      </p>
    </article>

    <article class="bg-brown-0 p-3 mb-2">
      <h3 class="cursor-pointer select-none flex" onclick="handleevent(this.parentElement)">
        What should I expect from the farm work environment?
        <i class="fas fa-plus ml-auto text-xs p-1"></i>
        <i class="fas fa-times ml-auto text-xs text-red-2 p-1 hidden"></i>
      </h3>

      <p id="content" class="mt-4 hidden">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odio, esse laboriosam ad itaque placeat similique debitis voluptatum fugiat dolor ex saepe harum iusto, eum repellat nihil nemo quaerat iure?
      </p>
    </article>

    <article class="bg-brown-0 p-3 mb-2">
      <h3 class="cursor-pointer select-none flex" onclick="handleevent(this.parentElement)">
        What should I expect to learn in an internship at Deck Family Farms?
        <i class="fas fa-plus ml-auto text-xs p-1"></i>
        <i class="fas fa-times ml-auto text-xs text-red-2 p-1 hidden"></i>
      </h3>

      <p id="content" class="mt-4 hidden">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odio, esse laboriosam ad itaque placeat similique debitis voluptatum fugiat dolor ex saepe harum iusto, eum repellat nihil nemo quaerat iure?
      </p>
    </article>


  </section>
  <!-- FAQ section -->

  <!-- WHAT’S IN SEASON? -->
  <div class="flex justify-center py-6 mt-20">
    <a href="/in-season/" class="btn-outline-secondary">WHAT’S IN SEASON?</a>
  </div>
  <!-- WHAT’S IN SEASON? -->
  
  
  {% if not user %}
  <!-- Ready for Better Food Choices? -->
  <div class="max-w-lg text-lg text-center mx-auto mt-10 mb-10">
    <h2 class="text-2xl font-bold text-primary mb-5">Ready for Better Food Choices?</h2>
    <p class="leading-10 font-semibold text-brown-7">Join the hundreds of households who trust local farmers to provide high quality food for a full diet.</p>
  </div>
  <!-- Ready for Better Food Choices? -->

  <div class="text-center">
    <a href="{% url 'signup' %}" class="btn btn-primary">BECOME A MEMBER</a>
  </div>
  {% endif %}

</main>
{% endblock main %}

{% block js %}
<script>
  function handleevent(article) {
    // Show/Hide content
    article.querySelector('#content').classList.toggle('hidden');
    article.querySelector('.fa-plus').classList.toggle('hidden');
    article.querySelector('.fa-times').classList.toggle('hidden');
  }
</script>
{% endblock %}

