{% extends "base.html" %}

{% load shop_tags i18n static %}
{% block body_id %}In Season{% endblock %}

{% block meta_title %}In Season{% endblock %}

{% block main %}
    <!-- <main id="FAQVue" v-cloak> -->
    <main id="InSeasonVue">
        <!-- Call block super -->
        {{ block.super }}

        <v-app>
            <v-main>
                <!-- banner section -->
                <section class="min-h-300px lg:min-h-400px bg-cover bg-center bg-overlay-dark flex"
                         style="background-image: var(--banner-bg);">
                    <div class="text-white text-center text-4xl m-auto font-bold px-5 py-4">WHAT'S IN
                        SEASON
                    </div>
                </section>
                <!-- banner section -->

                <!-- OFFERING HOME DELIVER! -->
                {#                <div class="bg-green text-white font-bold text-2xl text-center py-4">#}
                {#                    NOW OFFERING HOME DELIVERY! SELECT HOME DELIVERY AT CHECKOUT.#}
                {#                </div>#}
                <!-- OFFERING HOME DELIVER! -->

                <section class="container mx-auto my-12">
                    <!-- PASTURE RAISED -->
                    <article class="grid grid-cols-12 gap-4 mb-10">
                        <div class="col-span-4">
                            <header class="bg-orange-lightest text-xl text-brown-7 text-center py-3">PASTURE RAISED MEAT
                            </header>
                            <div class="bg-brown-0 p-3">
                                <p class="mb-4 h-6">100% Grass-Fed Beef</p>
                                <p class="mb-4 h-6">Pasture Raised Pork</p>
                                <p class="mb-4 h-6">Grass-Fed Lamb</p>
                                <p class="mb-4 h-6">Pasture Raised Poultry</p>
                                <p class="mb-4 h-6">Pasture Raised Turkey</p>
                                <p class="mb-4 h-6">Organic Pasture Raised Eggs</p>
                            </div>
                        </div>

                        <div class="col-span-2 text-center">
                            <header class="bg-yellow-lightest text-xl text-brown-7 py-3">SPRING</header>
                            <div class="bg-yellow-lightest bg-opacity-25 p-3">
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                            </div>
                        </div>

                        <div class="col-span-2 text-center">
                            <header class="bg-orange-lighter text-xl text-brown-7 py-3">SUMMER</header>
                            <div class="bg-orange-lighter bg-opacity-25 p-3">
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                            </div>
                        </div>

                        <div class="col-span-2 text-center">
                            <header class="bg-petiteOrchid text-xl text-brown-7 py-3">FALL</header>
                            <div class="bg-petiteOrchid bg-opacity-25 p-3">
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                            </div>
                        </div>

                        <div class="col-span-2 text-center">
                            <header class="bg-green-lighter bg-opacity-75 text-xl text-brown-7 py-3">WINTER</header>
                            <div class="bg-green-lighter bg-opacity-25 p-3">
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                            </div>
                        </div>

                    </article>

                    <!-- ORGANIC VEGETABLES -->

                    <article class="grid grid-cols-12 gap-4 mb-10">
                        <div class="col-span-4">
                            <header class="bg-orange-lightest text-xl text-brown-7 text-center py-3">VEGETABLES
                            </header>
                            <div class="bg-brown-0 p-3">
                                <p class="mb-4 h-6">Arugula</p>
                                <p class="mb-4 h-6">Asparagus</p>
                                <p class="mb-4 h-6">Basil</p>
                                <p class="mb-4 h-6">Beets</p>
                                <p class="mb-4 h-6">Broccoli </p>
                                <p class="mb-4 h-6">Brussel Sprouts</p>
                                <p class="mb-4 h-6">Cabbage </p>
                                <p class="mb-4 h-6">Carrots</p>
                                <p class="mb-4 h-6">Cauliflower</p>
                                <p class="mb-4 h-6">Celeriac </p>
                                <p class="mb-4 h-6">Chard</p>
                                <p class="mb-4 h-6">Chiles</p>
                                <p class="mb-4 h-6">Collard Greens</p>
                                <p class="mb-4 h-6">Corn</p>
                                <p class="mb-4 h-6">Cucumber</p>
                                <p class="mb-4 h-6">Edible Flowers</p>
                                <p class="mb-4 h-6">Fava Beans</p>
                                <p class="mb-4 h-6">Fennel</p>
                                <p class="mb-4 h-6">Garlic</p>
                                <p class="mb-4 h-6">Green Beans</p>
                                <p class="mb-4 h-6">Green Garlic</p>
                                <p class="mb-4 h-6">Green Onions</p>
                                <p class="mb-4 h-6">Kale</p>
                                <p class="mb-4 h-6">Kohlrabi</p>
                                <p class="mb-4 h-6">Leeks</p>
                                <p class="mb-4 h-6">Lettuce</p>
                                <p class="mb-4 h-6">Mint</p>
                                <p class="mb-4 h-6">Mushrooms</p>
                                <p class="mb-4 h-6">Onions</p>
                                <p class="mb-4 h-6">Oregano</p>
                                <p class="mb-4 h-6">Parsley</p>
                                <p class="mb-4 h-6">Parsnips</p>
                                <p class="mb-4 h-6">Peas</p>
                                <p class="mb-4 h-6">Peppers</p>
                                <p class="mb-4 h-6">Potatoes</p>
                                <p class="mb-4 h-6">Pumpkin</p>
                                <p class="mb-4 h-6">Radish</p>
                                <p class="mb-4 h-6">Rosemary</p>
                                <p class="mb-4 h-6">Rutabaga</p>
                                <p class="mb-4 h-6">Sage</p>
                                <p class="mb-4 h-6">Shallots</p>
                                <p class="mb-4 h-6">Snap/Snow Peas</p>
                                <p class="mb-4 h-6">Spinach</p>
                                <p class="mb-4 h-6">Salad Greens</p>
                                <p class="mb-4 h-6">Squash (Winter)</p>
                                <p class="mb-4 h-6">Squash (Summer)</p>
                                <p class="mb-4 h-6">Thyme</p>
                                <p class="mb-4 h-6">Tomatoes</p>
                                <p class="mb-4 h-6">Turnips</p>
                                <p class="mb-4 h-6">Zucchini </p>
                            </div>
                        </div>

                        <div class="col-span-2 text-center">
                            <header class="bg-yellow-lightest text-xl text-brown-7 py-3">SPRING</header>
                            <div class="bg-yellow-lightest bg-opacity-25 p-3">
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                            </div>
                        </div>

                        <div class="col-span-2 text-center">
                            <header class="bg-orange-lighter text-xl text-brown-7 py-3">SUMMER</header>
                            <div class="bg-orange-lighter bg-opacity-25 p-3">
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                            </div>
                        </div>

                        <div class="col-span-2 text-center">
                            <header class="bg-petiteOrchid text-xl text-brown-7 py-3">FALL</header>
                            <div class="bg-petiteOrchid bg-opacity-25 p-3">
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                            </div>
                        </div>

                        <div class="col-span-2 text-center">
                            <header class="bg-green-lighter bg-opacity-75 text-xl text-brown-7 py-3">WINTER</header>
                            <div class="bg-green-lighter bg-opacity-25 p-3">
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                            </div>
                        </div>
                    </article>

                    <!-- FRUIT -->
                    <article class="grid grid-cols-12 gap-4 mb-10">
                        <div class="col-span-4">
                            <header class="bg-orange-lightest text-xl text-brown-7 text-center py-3">FRUIT
                            </header>
                            <div class="bg-brown-0 p-3">
                                <p class="mb-4 h-6">Apples</p>
                                <p class="mb-4 h-6">Apricots</p>
                                <p class="mb-4 h-6">Blackberries </p>
                                <p class="mb-4 h-6">Blueberries</p>
                                <p class="mb-4 h-6">Boysenberries </p>
                                <p class="mb-4 h-6">Cantaloupe</p>
                                <p class="mb-4 h-6">Cherries</p>
                                <p class="mb-4 h-6">Figs</p>
                                <p class="mb-4 h-6">Grapes</p>
                                <p class="mb-4 h-6">Huckleberries</p>
                                <p class="mb-4 h-6">Kiwi</p>
                                <p class="mb-4 h-6">Melons</p>
                                <p class="mb-4 h-6">Nectarines</p>
                                <p class="mb-4 h-6">Pears</p>
                                <p class="mb-4 h-6">Persimmons</p>
                                <p class="mb-4 h-6">Plums & Pluots</p>
                                <p class="mb-4 h-6">Raspberries</p>
                                <p class="mb-4 h-6">Strawberries</p>
                                <p class="mb-4 h-6">Watermelon</p>
                            </div>
                        </div>

                        <div class="col-span-2 text-center">
                            <header class="bg-yellow-lightest text-xl text-brown-7 py-3">SPRING</header>
                            <div class="bg-yellow-lightest bg-opacity-25 p-3">
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                            </div>
                        </div>

                        <div class="col-span-2 text-center">
                            <header class="bg-orange-lighter text-xl text-brown-7 py-3">SUMMER</header>
                            <div class="bg-orange-lighter bg-opacity-25 p-3">
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                            </div>
                        </div>

                        <div class="col-span-2 text-center">
                            <header class="bg-petiteOrchid text-xl text-brown-7 py-3">FALL</header>
                            <div class="bg-petiteOrchid bg-opacity-25 p-3">
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                            </div>
                        </div>

                        <div class="col-span-2 text-center">
                            <header class="bg-green-lighter bg-opacity-75 text-xl text-brown-7 py-3">WINTER</header>
                            <div class="bg-green-lighter bg-opacity-25 p-3">
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                                <p class="h-6 mb-4"><i class="fas fa-check hidden"></i></p>
                            </div>
                        </div>


                    </article>

                </section>

                <!-- Ready for Better Food Choices? -->
                {% if not request.user.is_authenticated %}
                    <section class="text-center p-5 py-20 max-w-xl mx-auto">
                        <h3 class="text-3xl text-primary font-bold mb-5 font-nospacing">Ready for Better Food
                            Choices?</h3>
                        <p class="text-secondary text-xl">Join the hundreds of households who trust local farmers</p>
                        <p class="text-secondary text-xl mb-10">to provide high quality food for a full diet.</p>
                        <v-btn x-large color="primary" class="font-weight-bold ffcsa--v-btn" href="{% url 'signup' %}">
                            BECOME A MEMBER
                        </v-btn>
                    </section>
                {% endif %}
                <!-- Ready for Better Food Choices? -->

            </v-main>
        </v-app>
    </main>
{% endblock main %}

{% block js %}
    <script>
      const InSeasonApp = new Vue({
        el: '#InSeasonVue',
        delimiters: ['((', '))'],
        vuetify: new Vuetify(opts),
        data: {},
      })

    </script>
{% endblock %}
