{% extends "pages/page.html" %}

{% load mezzanine_tags shop_tags i18n static %}
{% block body_id %}products{% endblock %}


{% block main %}
<main id="productsVue" v-cloak>
  <!-- Call block super -->
  {{ block.super }}

  <!-- product detail modal -->
  {% include 'partials/product_modal.html' %}

  <v-app>
    <v-main>

      <!-- banner section -->
      <section class="min-h-300px lg:min-h-400px bg-cover bg-center bg-overlay-dark flex" style="background-image: var(--products-banner-bg);">
        <div class="text-white text-center text-3xl m-auto font-bold bg-black bg-opacity-25 px-5 py-4">Placeholder text</div>
      </section>
      <!-- banner section -->
    
      <!-- filters section -->
      <section class="md:flex justify-center mt-10 text-green md:text-xl font-bold">
        
        <div v-for="category in categories" class="inline-blocks relative hover-trigger text-base">
          <a href="#" @click.prevent="selectedCategory=category.title" :class="[categorySelected(category.title), 'hover:text-primary block m-3']">
            ((category.display_name))
          </a>
    
          <!-- list of sub gategories -->
          <ul v-if="category.sub_cats.length > 0" class="absolute w-full hidden bg-white text-secondary rounded border shadow-2xl py-3 px-2 hover-target" style="min-width: 16rem !important;">
            <li v-for="sub in category.sub_cats" :class="[categorySelected(sub), 'text-base hover:text-primary']">
              <a @click.prevent="selectedCategory=sub" class="py-2 px-4 block text-green" href="#">((sub))</a>
            </li>
          </ul>
        </div>
        
        <a href="#" class="hover:text-primary block m-3 text-base">RECIPIES</a>
      </section>
      <!-- filters section -->
    
      <!-- remove filter -->
      <section class="container mx-auto flex justify-end text-green">
        <a href="#" v-if="selectedCategory" @click.prevent="selectedCategory=''"  class="hover:underline text-sm">
          Show all products
        </a>
      </section>
      <!-- remove filter -->


      <!-- Spinner -->
      <div v-if="loading" class="text-center mt-20">
        <v-progress-circular indeterminate class="text-primary"></v-progress-circular>
      </div>
    
      <!-- Products list -->
      <section id="productsListSection" class="min-h-screen">
        <div v-if="products.results.length > 0" class="container my-12 mx-auto">
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 min-h-screen">
            <div class="text-center mb-4" v-for="product in products.results">
              <!-- product image -->
              <a :href="'#' + product.slug" @click="showProduct(product)">
                <div :style="'background-image: url(/media/' + product.image + ');background-position: center; background-repeat: no-repeat; background-size: cover;width: 100%; height: 20rem;'"></div>
              </a>
      
              <h3 class="text-brown-7 text-xl font-bold truncate">(( product.title ))</h3>
              <div class="my-2">
                <template v-if="product.has_in_stock_variations">
                  <!-- at least one variation in stock -->
                  <template v-if="product.variations.length == 1">
                    <p class="text-brown-7 text-xl">$(( product.price ))<span v-if="product.unit">/(( product.unit ))</span></p>
                    <button class="btn-add-to-card" @click.prevent="App.addToCart(product.variations[0])">ADD TO CART</button>
                  </template>
                  
                  <template v-else>
                    <p>
                      <span class="italic text-gray-500">From </span>
                      <span class="text-brown-7 text-xl">$(( getProductStartFrom(product) ))<span v-if="product.unit">/(( product.unit ))</span></span>
                    </p>
                    <button class="btn-add-to-card" @click.prevent="showProduct(product)">CHOOSE VARIATION</button>
                  </template>
                </template>
                <template v-else>
                  <!-- all product variations are out of stock -->
                  <button class="disabled:opacity-50 focus:outline-none bg-gray-100 text-gray-500 p-4 px-6 cursor-default rounded">
                    OUT OF STOCK
                  </button>
                </template>
              </div>
              <!-- <a :href="(( product.url ))" class="text-green-light">Quantity/Weight Details Here</a> -->
              <p class="text-green-light">(( product.weight ))</p>
              <p class="text-brown-7 text-sm italic font-thin">(( product.vendor ))</p>
            </div>
          </div>
      
      
          <!-- Page pagination -->
          <div class="text-center mt-20">
            <v-pagination v-model="page" :length="products.num_pages"></v-pagination>
          </div>
          <!-- Page pagination -->
        </div>
      </section>
      <!-- Products list -->
    
    
    
      <!-- WHAT’S IN SEASON? -->
      <div class="flex justify-center py-6">
        <v-btn x-large dark outlined color="brown darken-2" class="font-weight-bold" href="/in-season/">WHAT’S IN SEASON?</v-btn>
      </div>
      <!-- WHAT’S IN SEASON? -->
    
      <!-- Beyond the Groceries -->
      <section class="text-center bg-orange-lightest p-5">
        <div class="container mx-auto">
          <h3 class="text-3xl font-bold text-brown-7 my-5 py-5">Beyond the Groceries</h3>
    
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-12 my-5 py-5">
            <div>
              <img alt="Placeholder" class="block h-auto w-full mb-2" src="{% static 'img/products-spices-and-herbs-border-on-rustic-wood-kitchen-table-with-recipes.png' %}">
              <a href="#" class="text-3xl font-bold text-brown-7">RECIPIES FROM THE FARM</a>
            </div>
    
            <div>
              <img alt="Placeholder" class="block h-auto w-full mb-2" src="{% static 'img/products-homemade-pizza-for-dinner.jpg' %}">
              <a href="#" class="text-3xl font-bold text-brown-7">PRODUCTS & SWAG</a>
            </div>
          </div>
        </div>
      </section>
      <!-- Beyond the Groceries -->
    
      <!-- Ready for Better Food Choices? -->
      <section class="text-center p-5 py-20 max-w-xl mx-auto">
        <h3 class="text-3xl text-primary font-bold mb-5">Ready for Better Food Choices?</h3>
        <p class="text-secondary text-xl mb-10">Join the hundreds of households who trust local farmers to provide high quality food for a full diet.</p>
        <v-btn x-large color="primary" class="font-weight-bold" href="{% url 'signup' %}">BECOME A MEMBER</v-btn>
      </section>
      <!-- Ready for Better Food Choices? -->

    </v-main>
  </v-app>


</main>
{% endblock main %}

{% block js %}
<script>
  const ProductsVue = new Vue({
    el: '#productsVue',
    delimiters: ['((', '))'],
    vuetify: new Vuetify(opts),
    data: {
      loading: true,
      
      categories: [],
      
      query: '',
      page: 1,
      selectedCategory: '',
      
      // products
      products: {
        count: 0,
        num_pages: 0,
        next: null,
        previous: null,
        results: []
      },

      // product
      currentProduct: null,
      currentProductMapping: null,  // store number_in_cart

      quantity: 1, // todo - might delete this one??

      // product details
      modalShown: false,

    },

    watch: {
      currentProduct: function(val, oldVal) {
        if (val !== null) {
          this.modalShown = true
        } else {
          this.modalShown = false
        }
      },

      selectedCategory: function(val, oldVal) {
        this.getProducts()
        this.scrollToProducts()
      },
      
      page: function(val, oldVal) {
        this.getProducts()
        this.scrollToProducts()
      }
    },

    computed: {
      pages: function() {
        return Math.ceil(parseInt(this.count) / parseInt(this.limit))
      },
      
      currentPage: function() {
        return Math.ceil((parseInt(this.offset) + parseInt(this.limit))/ parseInt(this.limit))
      },

      pageRange: function() {
        const pages = Array.from({length: this.pages}, (_, i) => i + 1)
        const index = pages.indexOf(this.currentPage);

        const prev = []
        for (i = index; i > 0; i--) {
          prev.unshift(i)
        }

        const next = []
        for (i = index + 1; i <= pages.length; i++) {
          next.push(i)
        }


        let total = prev.slice(Math.max(prev.length - 3, 0))

        for (item in next) {
          if (total.length < 6) total.push(next[item])
        }

        // console.log('total', total)
        return total
      },
      
    },

    methods: {
      async getProducts() {
        this.loading = true;
        this.products.results = []

        // get products and assign the results
        try {

          const query = encodeURIComponent(this.query);
          const category = encodeURIComponent(this.selectedCategory);

          const res = await axios.get(`/api/products/?query=${query}&page=${this.page}&category=${category}`);
          this.products = {...res.data}
          this.loading = false;
          
          // sync query params with url
          const params = new URLSearchParams(location.search);
          params.set('query', this.query);
          params.set('page', this.page);
          params.set('category', this.selectedCategory);

          params.toString(); // => query=&page=1&category=
          window.history.replaceState({}, '', `${location.pathname}?${params.toString()}`);
          
          // after fetching the products, check if the url 
          // has product slug to open it
          this.openProductWithSlug()
        } catch (error) {
          console.log(error)
          this.loading = false;
        }
      },
      async getCategories() {
        // get categories and clean up the data
        try {
          const res = await axios.get(`/api/products/get_parent_sub_categories/`);
          this.categories = res.data
        } catch (error) {
          console.log(error)
        }
      },
      openProductWithSlug() {
        // open product if we got its slug in the urls hash
        const slug    = location.hash.slice(1);
        const matched = this.products.results.filter(product => product.slug == slug)
        if (matched.length > 0) this.showProduct(matched[0])
      },
      

      scrollToProducts() {
        const id = 'productsListSection';
        const yOffset = -170; 
        const element = document.getElementById(id);
        const y = element.getBoundingClientRect().top + window.pageYOffset + yOffset;
        window.scrollTo({top: y, behavior: 'smooth'});
      },

      showProduct(product) {
        this.currentProduct = product;
      },

      getProductStartFrom(product) {
        prices = []
        product.variations.forEach(v => prices.push(parseFloat(v.unit_price)));
        return Math.min(...prices)
      },
      hideProductModal() {
        this.currentProduct = null;
        location.hash = ' ';
      },
      categorySelected(category) {
        return this.selectedCategory == category ? 'text-primary' : ''
      }
    },

    async mounted() {
      // Sync URL params
      const url = new URL(location.href);
      
      const page = url.searchParams.get("page");
      if (page !== null) this.page = page || 1
      
      const query = url.searchParams.get("query");
      if (query !== null) this.query = query || ''

      const category = url.searchParams.get("category");
      if (category !== null) this.selectedCategory = category || ''

      // get products and categories
      this.getProducts()
      this.getCategories()
    }
  
  })


  // close product modal if open
  document.addEventListener('keyup', e => {
    if (e.key === "Escape") {
      ProductsVue.hideProductModal()
    }
  })
</script>
{% endblock %}