{% extends "base.html" %}
{% load i18n %}

{% load staticfiles static %}
{% block meta_title %}Login{% endblock %}

{% block main %}
<main id="login" v-cloak>
  <v-app>
    <v-main class="grey lighten-5">
      <v-row align="center" justify="center" class="h-screen">
        {% if request.user.is_authenticated %}
          <p>{% trans "You're already logged in. If you'd like to log in as a different user, you'll need to log out first." %}</p>
        {% else %}
        <v-card class="mx-auto pa-5" width="400">
          <v-card-text>
            <div class="text-center mb-10">
              <h1 class="font-bold text-3xl text-gray-900">LOGIN</h1>
              <p class="subtitle-1">Welcome back</p>
            </div>

            <v-form action="" method="POST" validate-on-blur>
              {% csrf_token %}
              <v-text-field outlined prepend-inner-icon="mdi-email" label="Email" name="username" type="email" :rules="[store.state.rules.required, store.state.rules.email]" required></v-text-field>
              <v-text-field outlined prepend-inner-icon="mdi-key-variant" label="Password" name="password" type="password" :rules="[store.state.rules.required]" required></v-text-field>
              <v-btn large block color="primary" class="font-weight-bold" type="submit">Login</v-btn>
            </v-form>

            <p class="mt-4">
              Don't have an account?
              <v-btn text color="primary" href="{% url 'signup' %}{% if not 'account' in request.path %}?next={{ request.path }}{% else %}?next=/{% endif %}">Register now!</v-btn>
            </p>
          </v-card-text>
        </v-card>
        {% endif %}
      </v-row>
    </v-main>
  </v-app>
</main>
{% endblock main %}

{% block js %}
<script>
  const LoginApp = new Vue({
    el: '#login',
    delimiters: ['((', '))'],
    store,
    vuetify: new Vuetify(opts),
    data: {}
  })
</script>
{% endblock js %}