{% extends "base.html" %}
{% load i18n %}

{% load staticfiles static %}
{% block meta_title %}Reset your password{% endblock %}

{% block main %}
<main id="resetpass" v-cloak>
  <v-app>
    <v-main class="grey lighten-5">
      <v-row align="center" justify="center" class="h-screen">
        {% if valid_link %}
        <v-card class="mx-auto pa-5" width="400">
          <v-card-text>
            <div class="text-center mb-10">
              <h1 class="font-bold text-3xl text-gray-900">UPDATE YOUR PASSWORD</h1>
            </div>

            <v-form @submit.prevent="submit" ref="form" v-if="!success">
              {% csrf_token %}
              <!-- email -->
              <v-text-field 
                label="New password"
                outlined
                v-model="password"
                type="password"
                name="password"
                minlength=6
               :rules="[store.state.rules.required, store.state.rules.password]"
               >
              </v-text-field>
              <v-text-field
               label="Confirm New password"
               outlined
               v-model="password2"
               type="password"
               name="password2"
               minlength=6
               :rules="[store.state.rules.required, store.state.rules.password]"
               >
              </v-text-field>

              <v-btn large block color="primary" class="font-weight-bold" type="submit" :loading="loading">Update password</v-btn>
            </v-form>

            <v-alert
              v-if="success"
              dense
              text
              type="success"
            >
             Password updated please <a href="/accounts/login/?next=/">login</a>
            </v-alert>
          </v-card-text>
        </v-card>
        {% else %}
        <p>The link you clicked is no longer valid.</p>
        {% endif %}
      </v-row>
    </v-main>
  </v-app>
</main>
{% endblock main %}

{% block js %}
<script>
  const ResetPassApp = new Vue({
    el: '#resetpass',
    delimiters: ['((', '))'],
    store,
    vuetify: new Vuetify(opts),
    data: {
      success: false,
      loading: false,
      password: "",
      password2: ""
    },
    methods: {
      async submit() {
        if (!this.$refs.form.validate()) {
          return
        }

        this.loading = true

        try {
          const res = await axios.post(location.href, data={
            password: this.password,
            password2: this.password2
          });


          console.log(res)
          console.log(res.data)
          
          this.success = true
          this.loading = false

        } catch (error) {
          this.loading = false
          
          store.commit('showAlert', {type: 'error', content: error.response.data.detail})
          console.log(error.response.data)
        }
      }
      
    },
    // async mounted () {}
  })
</script>
{% endblock js %}
