{% extends "base.html" %}
{% load i18n %}

{% load staticfiles static %}
{% block meta_title %}Reset your password{% endblock %}

{% block main %}
<main id="resetpass" v-cloak>
  <v-app>
    <v-main class="grey lighten-5">
      <v-row align="center" justify="center" class="h-screen">
        {% if request.user.is_authenticated %}
          <p>{% trans "You're already logged in. If you'd like to log in as a different user, you'll need to log out first." %}</p>
        {% else %}
        <v-card class="mx-auto pa-5" width="400">
          <v-card-text>
            <div class="text-center mb-10">
              <h1 class="font-bold text-3xl text-gray-900">RESET YOUR PASSWORD</h1>
            </div>

            <v-form @submit.prevent="submit" ref="form" v-if="!success">
              {% csrf_token %}
              <!-- email -->
              <v-col cols="12">
                <v-text-field
                  prepend-inner-icon="mdi-email"
                  outlined
                  label="Email *"
                  v-model="email"
                  :rules="[store.state.rules.required, store.state.rules.email]"
                >
                </v-text-field>
              </v-col>

              <v-btn large block color="primary" class="font-weight-bold" type="submit" :loading="loading">Reset</v-btn>
            </v-form>

            <p class="mt-4" v-if="!success">
              Don't have an account?
              <v-btn text color="primary" href="{% url 'signup' %}{% if not 'account' in request.path %}?next={{ request.path }}{% else %}?next=/{% endif %}">Register now!</v-btn>
            </p>

            <v-alert
              v-if="success"
              dense
              text
              type="success"
            >
             A verification email was sent, please check your inbox
            </v-alert>
          </v-card-text>
        </v-card>
        {% endif %}
      </v-row>
    </v-main>
  </v-app>
</main>
{% endblock main %}

{% block js %}
<script>
  const ResetPassApp = new Vue({
    el: '#resetpass',
    delimiters: ['((', '))'],
    store,
    vuetify: new Vuetify(opts),
    data: {
      success: false,
      loading: false,
      email: ""
    },
    methods: {
      async submit() {
        if (!this.$refs.form.validate()) {
          return
        }

        this.loading = true

        try {
          const res = await axios.post('/api/reset_pass/', data={email: this.email});
          
          this.success = true
          this.loading = false

        } catch (error) {
          this.loading = false
          
          store.commit('showAlert', {type: 'error', content: error.response.data.detail})
          console.log(error.response.data)
        }
      }
      
    },
    // async mounted () {}
  })
</script>
{% endblock js %}
