{% load static %}
<footer class="row bg-orange-lightest p-10 p-md-24 text-center md:text-left flex-col-reverse md:flex-row" style="margin-right: auto;">
    {# {% page_menu "pages/menus/footer.html" %} #}

    <!-- Logo -->
    <div class="col-md-6 col-12">
        <img src="{% static 'img/logo-transparent-1200px.png' %}" alt="logo" class="w-32 mx-auto">
        <!-- Social media links -->
        <div class="row justify-center">
{#            <div class="col-md-3 col-6">#}
                {#                <a href="https://www.instagram.com/deckfamilyfarm/" target="_blank">#}
                {#                    <i class="fab fa-instagram social-icon"></i>#}
                {#                </a>#}
                <a href="https://www.instagram.com/fullfarmcsa/" target="_blank">
                    <i class="fab fa-instagram social-icon"></i>
                </a>
{#            </div>#}
{#            <div class="col-md-3 col-6">#}
                <a href="https://www.facebook.com/deckfamilyfarm" target="_blank">
                    <i class="fab fa-facebook-f social-icon"></i>
                </a>
{#            </div>#}
        </div>
    </div>

    <!-- Footer links -->
    <div class="col-md-6 col-12">
        <p class="mb-1"><a class="text-lg opacity-75 hover:opacity-100 hover:text-brown-5" href="/">Home</a></p>
        {#        <a class="text-lg opacity-75 hover:opacity-100 hover:text-brown-5" href="/about/">About</a><br>#}
{#        <a class="text-lg opacity-75 hover:opacity-100 hover:text-brown-5" href="/csa/">Full Farm CSA</a><br>#}
        <p class="mb-1"><a class="text-lg opacity-75 hover:opacity-100 hover:text-brown-5" href="/products">Store</a></p>
        <p class="mb-1"><a class="text-lg opacity-75 hover:opacity-100 hover:text-brown-5" href="/contact-us">Contact Us</a></p>
        <p class="mb-1"><a class="text-lg opacity-75 hover:opacity-100 hover:text-brown-5" href="/faq/">FAQ</a></p>
{#        <p class="mb-1"><a class="text-lg opacity-75 hover:opacity-100 hover:text-brown-5" href="/in-season/">What's in Season?</a></p>#}
        {#      <a class="text-base opacity-75 hover:opacity-100 hover:text-brown-5" href="/internship">Internship</a>#}
    </div>

    <!-- Social media links -->
{#    <div class="col-md-3 col-12">#}

{#    </div>#}


</footer>
