<footer class="grid grid-cols-12 bg-orange-lightest p-16 mt-">
  {# {% page_menu "pages/menus/footer.html" %} #}

  <!-- Logo -->
  <div class="col-span-2">Logo here!</div>

  <!-- Footer links -->
  <div class="col-span-8 grid grid-cols-12 text-xl">
    <div class="col-span-4 flex flex-col">
      <a class="hover:text-brown-5" href="/">Home</a>
      <a class="hover:text-brown-5" href="/csa/">Full Farm CSA</a>
      <a class="hover:text-brown-5" href="/products">Shop</a>
      <a class="hover:text-brown-5" href="/contact-us">Contact Us</a>
    </div>

    <div class="col-span-4 flex flex-col">
      <a class="hover:text-brown-5" href="/about/">About</a>
      <a class="hover:text-brown-5" href="/faq/">FAQ</a>
      <a class="hover:text-brown-5" href="/in-season/">What's in Season?</a>
      <a class="hover:text-brown-5" href="/internship">Internship</a>
    </div>
  </div>

  <!-- Social media links -->
  <a href="https://www.instagram.com/deckfamilyfarm/" target="_blank" class="col-span-1">
    <i class="fab fa-instagram social-icon"></i>
  </a>
  <a href="https://www.facebook.com/deckfamilyfarm" target="_blank" class="col-span-1">
    <i class="fab fa-facebook-f social-icon"></i>
  </a>
</footer>
