<footer>
  <nav class="flex flex-wrap justify-center bg-givry p-16">
    {# {% page_menu "pages/menus/footer.html" %} #}

    <div class="flex flex-wrap justify-center text-xl font-bold leading-relaxed">
      <div class="flex flex-col lg:mr-32" style="width: 178px">
        <a href="/">Home</a>
        <a href="#ffcsa">Full Farm CSA</a>
        <a href="/products">Shop</a>
        <a href="#contact">Contact Us</a>
      </div>

      <div class="flex flex-col sm:mr-10 lg:mr-64" style="width: 178px">
        <a href="#about">About</a>
        <a href="#faq">FAQ</a>
        <a href="#in-season">What's in Season?</a>
        <a href="#internship">Internship</a>
      </div>
    </div>

    <div class="self-center text-5xl mt-5 sm:mt-0">
      <a href="#instagram" class="mr-4"><i class="fab fa-instagram"></i></a>
      <a href="#facebook"><i class="fab fa-facebook"></i></a>
    </div>
  </nav>
</footer>
