<div :class="[(modalShown ? '' : 'hidden'), 'fixed z-10 inset-0 overflow-y-auto']">
  <div class="flex min-h-screen" v-if="currentProduct != null">

    <div class="fixed inset-0 transition-opacity"  aria-hidden="true" @click.prevent="hideProductModal()">
      <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
    </div>
  
    <div class="bg-white text-secondary max-w-4xl mx-auto my-auto shadow p-5 pb-10 z-10" style="min-height: 22rem; min-width: 75vw;">
      <!-- close button -->
      <div class="flex mb-2">
        <a href="#" class="close-modal-btn ml-auto" @click.prevent="hideProductModal()"></a>
      </div>
      <!-- close button -->

      <section class="px-3">
        <!-- header (title, vendor and season) -->
        <div class="flex mb-1">
          <div class="grid grid-cols-2">
            <h3 class="col-span-2 md:col-span-1 text-2xl font-bold capitalize pr-2">((currentProduct.title))</h3>
            <p class="col-span-2 md:col-span-1 text-base font-light italic pt-2 mt-auto">((currentProduct.vendor))</p>
          </div>

          <!-- Show products seasons -->
          <template v-if="currentProduct.seasons.length < 4">
            <p class="ml-auto mt-2 font-thin italic">(( currentProduct.seasons.join(' - ') ))</p>
          </template>

          <!-- Show all seasons -->
          <template v-else>
            <p class="ml-auto mt-2 font-thin italic">ALL SEASON</p>
          </template>
        </div>
        <!-- header (title, vendor and season) -->
  
        <hr class="bg-secondary">
  
        <!-- product details -->
        <div class="grid grid-cols-1 md:grid-cols-3 gap-3 mt-5">
          <!-- item image -->
          <div class="block h-auto w-full mb-2" :style="'background-image: url(/media/' + currentProduct.image + ');background-position: center; background-repeat: no-repeat; background-size: cover;width: 100%;height: 12rem;'"></div>

          <!-- item control -->
          <div class="col-span-2">
            <div v-for="variation in currentProduct.variations" class="grid grid-cols-3 p-2 py-4 mb-3">
              <div class="col-span-3 md:col-span-2 flex">
                <p class="text-3xl mt-auto pr-2">$((variation.unit_price))</p>

                <!-- product available amount, if product number_in_stock is null means it is unlimited -->
                <p class="mt-auto">
                  <span v-if="variation.is_unlimited" class="text-success">
                    AVAILABLE
                  </span>
                  <span v-else-if="variation.number_in_stock == 0" class="text-red-1"></span>
                  <span v-else class="text-success">
                    ((variation.number_in_stock)) AVAILABLE
                  </span>
                </p>

              </div>
              
              <div class="col-span-3 md:col-span-1">
                <!-- product variations out of stock -> can't manpulate -->
                <template v-if="variation.number_in_stock == 0">
                  <button class="w-full disabled:opacity-50 focus:outline-none cursor-default bg-gray-100 text-gray-500 p-3 rounded">
                    OUT OF STOCK
                  </button>
                </template>

                <template v-else>
                  <!-- todo disable button when user purchace all in stock for item -->
                  <button class="btn-add-to-card w-full" @click="NavVue.addToCart(variation)">
                    ADD TO CART
                  </button>
                </template>

              </div>
            </div>
          </div>
          <!-- item control -->

        </div>
        <!-- product details -->

        <!-- product content -->
        <div class="p-4 mt-4 bg-gray-100" v-if="currentProduct.content" v-html="currentProduct.content"></div>
        <!-- product content -->

      </section>
    </div>
  
  </div>
</div>