{% load static %}

<div :class="[(cart.shown ? '' : 'hidden'), 'fixed z-10 inset-0 overflow-hidden']">

  <div class="flex min-h-screen">
    
    <div class="fixed inset-0 transition-opacity" aria-hidden="true" @click.prevent="cart.shown=false">
      <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
    </div>

    <div class="bg-white z-10 relative text-secondary max-w-full ml-auto shadow pb-10" style="width: 30rem;">
      
      <!-- header and close button -->
      <div class="flex mb-2 py-4 border-b-2 border-black border-opacity-10">
        <p class="font-bold text-black ml-auto pt-2">YOUR CART ( ((cart.items.length)) )</p>
        <!-- close btn -->
        <a href="#" class="ml-auto mt-1 mr-5" @click.prevent="cart.shown=false" style="width: 1.6rem;">
          <img src="{% static 'img/times.svg' %}" alt="close-modal">
        </a>
      </div>
      <!-- header and close button -->

      <!-- content -->
      <section class="cart-items pl-3 pr-0 mt-5 mt-10 overflow-y-scroll" style="min-width: 25rem; max-height: 70vh;">
        <template v-if="cart.items.length > 0" v-for="item in cart.items">
          <div class="grid grid-cols-3 gap-4 border-b-2 border-black border-opacity-10 mb-4 pb-4">
            <!-- item image -->
            <div class="col-span-1">
              <div class="block h-auto w-full mb-2" :style="'background-image: url(/media/' + item.image + ');background-position: center; background-repeat: no-repeat; background-size: cover;width: 100%;height: 6rem;'"></div>
            </div>
            <!-- item image -->
  
            <!-- item control -->
            <div class="col-span-2 pr-2">
              <div class="grid grid-cols-12">
                <h4 class="col-span-11 font-bold capitalize">((item.description))</h4>
                <img @click.prevent="removeCartItem(item)" src="{% static 'img/times.svg' %}" alt="remove-item" class="opacity-25 hover:opacity-75 cursor-pointer w-4 ml-auto">
              </div>
  
              <div class="flex mt-10">
                <p>$((item.unit_price))</p>
  
                <div class="ml-auto">
                  <div class="flex">
                    <button @click="decreaseItemQuantity(item, $event)" :class="[(item.quantity == 0 ? 'btn-disabled' : ''), 'border rounded-sm font-bold px-3 py-1']">-</button>
                    <p class="px-4 pt-1">((item.quantity))</p>
                    <button @click="increaseItemQuantity(item, $event)" :class="[(item.all_quantity_in_cart ? 'btn-disabled' : ''), 'border rounded-sm font-bold px-3 py-1']">+</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- item control -->
  
          </div>
        </template>

        <template v-else>
          <p class="opacity-50 text-center mt-10 font-thin">No items in cart</p>
        </template>

      </section>
      <!-- content -->

      <!-- total and checkout -->
      <section class="bg-white absolute px-3 mt-10 inset-x-0 bottom-5" style="width: 95%;">
        <!-- <a href="#" class="block mb-4" @click.prevent="clearCart()">Clear cart</a> -->


        <div class="flex text-black font-bold">
          <p>SUBTOTAL</p>
          <p class="ml-auto">$((cart.total_price))</p>
        </div>
        <div class="flex text-black font-bold">
          <p>DELIVERY FEE</p>
          <p class="ml-auto">$((cart.delivery_fee))</p>
        </div>
        <div class="flex text-black font-bold mb-4">
          <p>REMAINING BUDGET</p>
          <p class="ml-auto">$((cart.remaining_budget))</p>
        </div>

        <a href="/cart" class="block btn-primary tracking-widest font-bold text-lg w-full">CONTINUE TO CHECKOUT</a>
      </section>
      <!-- total and checkout -->

    </div>
  </div>
</div>