{% extends "shop/base.html" %}
{% load mezzanine_tags shop_tags i18n %}

{% block meta_title %}
  {% if request.user.profile.is_subscribing_member %}Weekly Order{% else %}Order{% endif %}
{% endblock %}

{% block title %}
  {% nevercache %}
    {% load ffcsa_core_tags %}
    {% pickup_date_text %}
  {% endnevercache %}
{% endblock %}

{% block breadcrumb_menu %}
  {{ block.super }}
  <li>{% nevercache %}
    {% if request.user.profile.is_subscribing_member %}Weekly Order{% else %}Order{% endif %}
  {% endnevercache %}</li>
{% endblock %}


{% block main %}
<main id="cart" v-cloak>
  <v-app>
    <v-main class="grey lighten-5">
      <v-container class="mb-10">
        {% include 'ffcsa_core/includes/membership_agreement_alert.html' %}

        <!-- Cart Items -->
        <v-row :class="cartDisplay.rowClass">
          <v-col cols=12 :md="cartDisplay.cartMdCol">
            <template v-if="store.state.cart.items.length > 0" v-for="item in store.state.cart.items">
              <v-card elevation="1" class="mb-2">
                <v-row>
                  <v-col cols="12" sm=4>
                    <v-img height=150 :src="'/media/' + item.image"></v-img>
                  </v-col>
  
                  <v-col cols="12" sm=4>
                    <div class="flex flex-col justify-space-between h-full py-2">
                      <h3>((item.description))</h3>
                      <h3 class="mt-auto">
                        $((item.unit_price))
                        <span v-if="item.variation.product.unit" class="">/((item.variation.product.unit))</span>
                        <h3 class="text-gray-500">((item.variation.product.weight))</h3>
                      </h3>
                    </div>
                  </v-col>
  
                  <v-col cols="12" sm=4>
                    <div class="flex justify-center	mt-5">
                      <v-btn small fab elevation="2" @click="App.decreaseItemQuantity(item, $event)">
                        <v-icon color="accent">mdi-minus</v-icon>
                      </v-btn>
                      
                      <p class="px-4 pt-1 select-none">((item.quantity))</p>
  
                      <v-btn small fab elevation="2" @click="App.increaseItemQuantity(item, $event)" :disabled="item.all_quantity_in_cart">
                        <v-icon color="accent">mdi-plus</v-icon>
                      </v-btn>
                    </div>
  
                    <h3 class="text-center font-weight-bold mt-4">$((item.total_price))</h3>
                  </v-col>
  
                </v-row>
  
              </v-card>
            </template>
          </v-col>

          {% if not user.is_authenticated %}
          <!-- for not signed members -->
          <v-col cols=12 md=5>
            <v-form ref="entryForm" @submit.prevent="submitHandler">
              <v-card class="mb-3 pa-4" flat tile>
                <!-- Name -->
                <v-text-field outlined prepend-inner-icon="mdi-account" label="Name" v-model="order.name" :rules="[store.state.rules.required]" required></v-text-field>
                <!-- Email -->
                <v-text-field outlined prepend-inner-icon="mdi-email" label="Email" v-model="order.email" :rules="[store.state.rules.required, store.state.rules.email]" required></v-text-field>
                <!-- Pickup Location -->
                <v-combobox
                  outlined
                  label="Pickup Location"
                  v-model="site"
                  :items="store.state.drop_sites.filter(site => site.members_only == false)"
                  item-text="description"
                  item-value="name"
                  :return-object="false"
                  :rules="[store.state.rules.required]"
                >
                </v-combobox>
  
                <div class="d-flex justify-space-between mt-5">
                  <h4>SUBTOTAL</h4>
                  <h4 class="font-weight-bold">$((store.state.cart.total_price))</h4>
                </div>
              </v-card>
  
              <v-card class="mb-6" flat tile>
                <div id="non-members-payment-card" ref="StripeElement" class="w-11/12 my-5 mx-auto"></div>
                <div id="card-errors" ref="cardErrors" class="text-red-2 p-3"></div>
                <div v-if="formDisabled" class="text-red-2 text-center p-3">You need to purchace for not less than $((store.state.NON_MEMBERS_MIN_PURCHACE))</div>
              </v-card>
  
              <v-btn block large color="primary" class="font-weight-bold mt-3" type="submit" :disabled="formDisabled||order.disabled" :loading="order.loading">Pay</v-btn>
            </v-form>
          </v-col>
          {% endif %}
        </v-row>
        
      </v-container>
    </v-main>
  </v-app>
</main>
{% endblock %}


{% block js %}
<script>
  // {% if not user.is_authenticated %}
  // Stripe
  const stripe = Stripe('{{ request.STRIPE_API_KEY }}')
  const elements = stripe.elements({
    fonts: [
      {
        cssSrc: "https://rsms.me/inter/inter.css"
      }
    ],
    // Stripe's examples are localized to specific languages, but if
    // you wish to have Elements automatically detect your user's locale,
    // use `locale: 'auto'` instead.
    locale: window.__exampleLocale
  });

  /**
   * Card Element
   */
  const card = elements.create("card", {
    style: {
      base: {
        color: "#32325D",
        fontWeight: 500,
        fontFamily: "Inter, Open Sans, Segoe UI, sans-serif",
        fontSize: "20px",
        fontSmoothing: "antialiased",

        "::placeholder": {
          color: "#CFD7DF"
        }
      },
      invalid: {
        color: "#E25950"
      }
    }
  });

  card.on('change', function(event) {
    const displayError = document.getElementById('card-errors');
    if (event.error) {
      displayError.textContent = event.error.message;
    } else {
      displayError.textContent = '';
    }
  });
  // {% endif %}

  const CartVue = new Vue({
    el: '#cart',
    delimiters: ['((', '))'],
    store,
    vuetify: new Vuetify(opts),
    data: {
      site: '',
      cartDisplay: {
        // {% if user.is_authenticated %}
        cartMdCol: 12, rowClass: 'mt-5 w-3/4 mx-auto',
        // {% else %}
        cartMdCol: 7, rowClass: 'mt-5',
        // {% endif %}
      },
      order: {
        name: '',
        email: '',
        loading: false,
        disabled: false,
      }
    },
    methods: {
      async submitHandler() {
        this.order.loading = true;
        this.order.disabled = true;

        // validate the form
        if (!this.$refs.entryForm.validate()) {
          this.order.loading = false;
          this.order.disabled = false;
          return
        }

        // pay
        stripe.createToken(card).then(async (result) => {
          


          if (result.error) {
            // Inform the customer that there was an error.
            console.log(result.error.message)
            this.$refs.cardErrors.innerText = result.error.message;

            this.order.loading = false;
            this.order.disabled = false;

          } else {
            // Send the token to your server.
            try {
              const res = await axios.post('/api/pay/non_member_payment/', {
                name: this.name,
                email: this.email,
                stripeToken: result.token.id,
                amount: parseFloat(store.state.cart.total_price)
              });

              // Show success message
              store.commit('showAlert', {type: 'success', content: res.data.detail})

              this.order.loading = false;
              this.order.disabled = false;
              
            } catch (error) {
              console.log(error.response.data)
              store.commit('showAlert', {type: 'error', content: error.response.data.detail})

              this.order.loading = false;
              this.order.disabled = false;
            }

          }
        });

      }
    },
    computed: {
      formDisabled: function() {
        return store.state.cart.total_price <= store.state.NON_MEMBERS_MIN_PURCHACE;
      }
    }
  })

  // {% if not user.is_authenticated %}
  // has to mount the card after Vue is loaded
  card.mount('#non-members-payment-card')
  // {% endif %}



</script>
{% endblock %}
